<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/logo.png" width="30" height="30" alt=''> 
    SafeRoute
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="">Search Route</a>
      <a class="nav-item nav-link active" target="_blank" href="https://crime-cluster-map.appspot.com/">NYC Crime Cluster Map</a>
    </div>

  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <i style="color:gray"> Data Collected From NYC Open Data </i>
      <a class="nav-item nav-link" href="https://github.com/melaniechow/SafeRoute" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>

  </div>
</nav>